@font-face {
    font-family: "ArialMT";
    src: url(/dev-CatEnergy/fonts/ArialMT.ttf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: "Oswald-Regular";
    src: url(/dev-CatEnergy/fonts/Oswald-Regular.ttf) format('opentype');
    font-weight: 400;
}