@font-face {
    font-family: "Arial-Black";
    src: url(/dev-CatEnergy/fonts/Arial-Black.ttf);
    font-weight: 400px;
}

@font-face {
    font-family: "ArialNarrow";
    src: url(/dev-CatEnergy/fonts/ArialNarrow.ttf);
}