@import url(variable.css);
@import url(bootstrap.min-5.css);
@import url(fonts.css);

body{
    font-size: var(--fs);
    line-height: var(--line-height);
    color: var(--text);
    background: var(--bs-secondary) ;
}


.container {
    max-width: 1440px;
    width: 100%;
    display: flex;
}

.custom-row{
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
}
.custom-li{
    margin: 50px 120px 20px;
    max-width: 400px;
    width: 100%;
    height: 400px;
    border: 3px solid black;
}

.site-map a{
    color: var(--text);
}
p{
    padding: 0px 10px;
    color: var(--text);

}
.primary-color{
    width: 350px;
    height: 150px;
    margin: 20px 25px;
    background-color: var(--bg-primary);
    border: 1px solid black;
}

.secondaru-color{
    width: 350px;
    height: 150px;
    margin: 20px 25px;
    background-color: var(--bg-secondary);
    border: 1px solid black;
}

.fonts{
    font-family: var(--font-family);
}