@import url(variable.css);
@import url(bootstrap.min-5.css);
@import url(fonts.css);

body{
    font-size: var(--fs);
    line-height: var(--line-height);
    color: var(--text); 
}


.container {
    max-width: 1440px;
    width: 100%;
    display: flex;
}

.custom-row{
    display: flex;
    flex-wrap: wrap;
}

li{
    list-style: none;
}
.custom-li{
    margin: 50px 120px 20px;
    max-width: 400px;
    width: 100%;
    max-height: 450px;
    height: 100%;
    border: 3px solid black;
}

.site-map a{
    color: var(--text);
}
p{
    padding: 0px 10px;
    color: var(--text);

}
.primary-color{
    width: 350px;
    height: 150px;
    margin: 20px 25px;
    background-color: var(--primary-color);
    border: 1px solid black;
}

.secondary-color{
    width: 350px;
    height: 150px;
    margin: 20px 25px;
    background-color: var(--secondary-color);
    border: 1px solid black;
}

.font-weight-light {
    font-weight: 400;
}

.font-weight-regular{
    font-weight: 500;
}

.font-weight-bold{
    font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
    line-height: 1;
    color: var(--text);
    font-weight: 400;
    font-family: "Oswald-Regular";
}

h1,
.title-1 {
    font-size: 60px;
}

h2,
.title-2 {
    font-size: 36px;
}

h3,
.title-3 {
    font-size: 24px;
}

h4,
.title-4 {
    font-size: 20px;
}
 
h5,
.title-5{
    font-size: 18px;
}

h6,
.title-6 {
    font-size: 17px;
}

p{
    font-size: 16px;
}

::selection {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

input {
    display: none;
}
label {
    cursor: pointer;
}

label:hover {
    color: #555252;
}

label::before{
    content: '';
    padding: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid ;
    border-radius: 50%;
    
}

.custom-label-box::before{
    content: '';
    padding: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid ;
    border-radius: 0px;
}

.custom-radio:checked + label::before{
        background: url(../img/radiobuttonactive.svg) center/18px no-repeat;
 }

 input:checked + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .custom-radio:disabled+label::before {
    background-color: #e9ecef;
  }

  .custom-box:checked + .custom-label-box::before{
    background: url(../img/checkbox.png) center/36px no-repeat;
}

.btn{
    display: inline-block;
    padding: 12.5px 29px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
}

.btn-primary{
    color: white;
    background: var(--primary-color);
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
cursor: pointer;
border: 0px;
border-radius: 0%;
}

.btn-primary:hover{
    background: #5EAA2F
}