@import url(bootstrap.min-5.css);
@import url(variable.css);
@import url(fonts.css);


header a{
     font-family: "Oswald-Regular";
     position: relative;
     color: #fff;
}

header a::before{
    content: "";
    width: 0px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.4s;
}



header a:hover{
    text-decoration: none;
    color: black;
}

header a:hover::before{
    width: 100%;
}

header .navbar{
    padding-top: 53px;
    background-color: var(--primary-color);
}

header .navbar>.container-fluid {
    align-items: flex-end;
}

header .navbar .navbar-nav .nav-link{
    font-size: 20px;
    line-height: var(--line-height);
    text-transform: uppercase;
    color: white;
    padding: 0px;
    font-family: "Oswald-Regular";
}

header .navbar .navbar-nav .nav-item{
    padding: 0 0 0 22px;
}

header .navbar .navbar-nav .nav-item::before{
    display: none;
}

header .navbar .navbar-nav{
    margin-left: auto;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}



.navbar-toggler{
    padding: 0;
    width: 36px;
    height: 24px;
    border-radius: 0;
}

header .navbar .navbar-toggler{
    box-shadow: none;
}


@media screen and (max-width: 991px) {
    header .navbar .navbar-nav .nav-item {
        padding: 0 0 0 22px;
        display: flex;
        justify-content: center;
    }
    header .navbar > .container-fluid {
      align-items: center;
    }
    header .navbar .navbar-nav {
      padding: 36px 15px 12px;
    }
    header .navbar .navbar-nav .nav-link {
      color: #000;
    }
    header .navbar .navbar-nav .nav-link:hover::before {
      display: none;
    }
    header .navbar .navbar-nav .nav-link:hover{
        color: #c6c6c6;
    }
    .navbar-toggler {
      position: relative;
    }
    .navbar-toggler[aria-expanded=true] span {
      transform: rotate(45deg) translate(8px, 7px);
    }
    .navbar-toggler[aria-expanded=true] span:nth-child(2) {
      transform: rotate(-45deg) translate(0px, 0px);
    }
    .navbar-toggler[aria-expanded=true] span:nth-child(3) {
      transform: rotate(-45deg) translate(0px, 0px);
      top: 50%;
      opacity: 0;
    }
    .navbar-toggler span {
      background: #000;
      height: 2px;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.4s;
    }
    .navbar-toggler span:nth-child(2) {
      top: 50%;
    }
    .navbar-toggler span:nth-child(3) {
      top: 100%;
    }
  }